pipeline/setvariablepl.json
{
	"name": "setvariablepl",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "A",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "B",
					"value": "monday"
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@concat(variables('A'),variables('B'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"A": {
				"type": "String"
			},
			"B": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			},
			"output": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-18T09:48:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}